# Ignore node_modules in any directory
node_modules/

# Ignore .env file in calc-backend directory
calc-backend/.env
https://github.com/shashank651156/CalcPlus/blob/main/CalcPlus(calculatorAppButBetter)_SampleVideo%20(2).mp4
